
body {
  background:#434343;
  background-blend-mode: multiply,multiply;
}
section.hero {
  background-color: #596164 ;
  opacity: .5;
  border: 2px solid #000000;
  margin-bottom: 30px;
}
.container h1 {
  width: 100%;
  font-weight:lighter;
}
#content {
  font-size: 30px;
  font-weight: bolder;
}
h1 {
  font-style: oblique;
  font-size: 60px;
  text-align: center;
}
article {
  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;
  opacity: 2;
  border: 1px solid white;
  padding: 30px 0px 50px 30px;
}
strong {
  color: #2a5298;
}

Textarea {
  background-color: #DCD9D4;
  height: 280px;
  width: 99.1%;
  border: 2px solid black;

}
textarea:focus {
  background-color: white;
  font-size: 30px;
}

button {
  background-color: #c3cfe2;
  height: 40px;
  border: 2px solid white:
}
button:hover {
  box-shadow: 2px 3px 3px #000;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}
/* FOOTER*/
#hours, #skills {
  margin-top: 30px;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}
.panel-footer {
  margin-top: 30px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
}
.panel-footer section {
  margin-bottom:  30px;
  text-align: center;
}
.panel-footer section:nth-child(3) {
  margin-bottom: 0; /* margin already exists on the whole row */
}
.panel-footer section hr {
  width: 100%;
}
#hours > span, #skills>span {
  font-size: 1.3em;
  text-decoration: underline #9C880CFF;
}
#final {
  text-align: center;
  color: white;
}
