{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dear Diary</title>
    <link rel="stylesheet" href="{% static '/lists/styles.css' %}">
</head>
 <style>
    body {
      padding: 25px;
      background-color: white;
      color: black;
      font-size: 25px;
    }

    .dark-mode {
      background-color: black;
      color: white;
    }
    </style>
    </head>
    <body>

    <button onclick="myFunction()">Dark mode</button>

    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
  </script>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title"  color-black>
                  <a href="/">iDiary</a>
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <form method="POST" action="{% url 'add' %}">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                    {{ form.text }}
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-link">Click Here After Typing</button>
                    </div>
                </div>
        </form>
        </div>

    </section>
    <footer class="panel-footer">
  <div class="container">
    <div class="row">

      <section id="skills" class="col-sm-12">
        <span>Skills:</span><br>
        HTML/CSS| JAVASCRIPT| PYTHON| DJANGO| React| SQL <br>
        <hr class="visible-xs">
      </section>
      <section id="hours" class="col-sm-12">
        <span>Hours:</span><br>
        Available for work <br>
        <hr class="d-none-xs">
      </section>
    </div>
    <div id="final">&copy; Copyright BigCeed. 2022.</div>
  </div>
</footer>
</body>

</html>
