{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dear Diary</title>
    <link rel="stylesheet" href="{% static '/lists/styles.css' %}">
</head>
  <style>
    body {
      padding: 25px;
      background-color: white;
      color: black;
      font-size: 25px;
    }

    .dark-mode {
      background-color: black;
      color: white;
    }
    </style>
    </head>
    <body>

    <button onclick="myFunction()">Dark mode</button>

    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
  </script>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                  <a href="#">iDiary</a>
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <article class="media">
                <div class="media-content">
                    <div id="content">
                        <a href="add/">Add new entry:</a>
                    </div>
                </div>
            </article>

            {% for entry in lists %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{entry.date_posted}}</strong>
                            <br>
                            <br>
                            {{entry.text}}
                        </p>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>

    </section>
    <footer class="panel-footer">
  <div class="container">
    <div class="row">

      <section id="skills" class="col-sm-8">
        <span>Skills:</span><br>
        HTML, CSS, JAVASCRIPT, PYTHON, DJANGO, SQLite <br>
        <hr class="visible-xs">
      </section>
      <section id="hours" class="col-sm-12">
        <span>Hours:</span><br>
        Available for work <br>
        <hr class="visible-xs">
      </section>
    </div>
    <div id="final">&copy; Copyright BigCeed. 2022.</div>
  </div>
</footer>
</body>
</html>
